body {
    background-color: #383535;
    font-size: 16px;
    font-family: 'Italiana', serif;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width:850px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width:400px) {
    body {
        font-size: 14px;
    }
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.nav-item {
    font-size: 1.3rem;
    font-family: 'Italiana', serif;
    color: #F8E1E5;
    font-weight: 400;
    padding: 1rem 2rem;
    text-decoration: none;
}

@media screen and (max-width:820px) {
    .nav-item {
        font-size: 1.5rem;
        padding: 1rem 1rem;
    }
}

@media screen and (max-width:400px) {
    .nav-item {
        font-size: 1rem;
        padding: 1rem 1rem;
    }
}

.nav-item:hover {
    cursor: pointer;
    color:  #EE4161;
} 

.principal-banner {
    display: flex;
    flex-direction: row;
    padding: 4rem;
}

@media screen and (max-width:820px) {
    .principal-banner {
        flex-direction: column-reverse;
        padding: 2rem;
    }
}

@media screen and (max-width:400px) {
    .principal-banner {
        flex-direction: column-reverse;
        padding: 2rem;
    }
}

.left-banner {
    margin-right: 6rem;
    z-index: 1;
}

@media screen and (max-width:820px) {
    .left-banner {
        margin-right: 0rem;
    }
}

@media screen and (max-width:400px) {
    .left-banner {
        margin-right: 0rem;
    }
}

.left-banner > h1 {
    color: #EE4161;
    font-family: 'Italiana', serif;
    font-size: 3.5rem;
}

@media screen and (max-width:400px) {
    .left-banner > h1 {
        font-size: 2rem;
    }
}

.wrapper {
    display: inline-flex;
}

.wrapper .static-txt {
    color: #F8E1E5;
    font-size: 1.4rem;
    font-weight: 700;
    margin-right: -1.5rem;
}

.wrapper .dynamic-txts {
    height: 2rem;
    margin-top: 0rem;
    margin-left: 0rem;
    line-height: 2rem;
    overflow: hidden;
}

.dynamic-txts li {
    list-style: none;
    font-size: 1.4rem;
    color: #EE4161;
    font-weight: 700;
    position: relative;
    top: 0;
    animation: slide 3s steps(2) infinite;
}

@keyframes slide {
    100% {
       top: -4rem;
    }
}

.dynamic-txts li span {
    position: relative;
}

.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #383535;
    border-left: 2px solid #EE4161;
    animation: typing 1.5s steps(20) infinite;
}

@keyframes typing {
    100% {
       left: 100%; 
       margin: 0rem -3rem 0rem 3rem;
    }
}

.left-banner > p {
    color: #F8E1E5;
    text-align: justify;
    font-weight: 300;
}

@media screen and (max-width:820px) {
    .left-banner > p {
        font-size: 1.1rem;
    }
}

.right-banner {
    margin-right: 2rem;
    z-index: 2;
}

.right-banner > img {
    height: 40rem;
}

@media screen and (max-width:400px) {
    .right-banner > img {
        height: 20rem;
    }
}

.quote {
    text-align: center;
    font-family: 'Italiana', serif;
    color: #F8E1E5;
    font-weight: 400;
}

@media screen and (max-width:400px) {
    .quote {
        font-size: 0.8rem;
        padding: 1rem;
    }
}

.work-projects {
    padding: 4rem;
}

@media screen and (max-width:400px) {
    .work-projects {
        padding: 1rem;
    }
}

.work-projects > h1 {
    color: #EE4161;
    font-family: 'Italiana', serif;
    font-size: 3rem;
    font-weight: 400;
}

.work-projects > p {
    color: #F8E1E5;
}

.grid-works {
    display: grid;
    grid-template-columns: repeat(3, 25rem);
    grid-template-rows: repeat(1, auto);
    justify-content: center;
}

@media screen and (max-width:820px) {
    .grid-works {
        display: grid;
        grid-template-columns: repeat(1, 25rem);
        grid-template-rows: repeat(1, auto);
        justify-content: center;
    }
}

@media screen and (max-width:400px) {
    .grid-works {
        display: grid;
        grid-template-columns: repeat(1, 25rem);
        grid-template-rows: repeat(1, auto);
        justify-content: center;
    }
}

.work-item {
    background-color: #F8E1E5;
    border-radius: 2rem;
    padding: 1rem 1rem;
    margin: 1.5rem;
    max-width: 100%;
}

@media screen and (max-width:820px) {
    .work-item {
        margin: 1rem;
    }
}

.work-item > a > img {
    max-width: 100%;
    border-radius: 1rem;
}

.language {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.language > img {
    height: 3rem;
    width: 3rem;
    
}

.language > img:hover {
    cursor: pointer;   
}

.icons-language {
    display: flex;
    flex-direction: row;
}

.icons-language > p {
    background-color: #383535;
    color: #F8E1E5;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #EE4161 3px solid;
    margin: 0rem -10rem;
}

.social-media {
    padding: 1rem;
}

.social-media > a > img {
    height: 2rem;
    width: 2rem;
    padding: 1rem;
}

.contact-me > h1 {
    color: #F8E1E5;
    font-family: 'Italiana', serif;
    font-weight: 400;
}

.footer {
    margin-top: 3rem;
}

.footer > p {
    color:#F8E1E5;
    text-align: center;   
}